* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* ESTILOS DEL HEADER */

.nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    align-items: center;
    background-color: beige;
    
}
@media (min-width: 769px) {
    .nav {
        height: 125px;   
    }
}
.logo-container {
    display: flex;
    align-items: center;
    width: auto;
    margin-left: 25px;
}
@media (min-width: 769px) {
    .logo-container {
        margin-left: 50px;
    }
}
.logo {
    width: 100px;
    height: 85px;
}
@media (min-width: 769px) {
    .logo {
        width: 120px;
        height: 105px;
    }
} 
.nav-list {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: #2a3b51;
    float: right;
    text-align: center;
    transition: all .5s;
}
@media (min-width: 769px) {
    .nav-list {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        float: right;
        text-align: right;
        margin-right: 50px;
        transition: none;
    }
}
.nav-list li {
    opacity: 0;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}
@media (min-width: 769px) {
    .nav-list li {
        display: inline-block;
        opacity: 1;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }
}
.nav-list li a {
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
    line-height: 28.13px;
    text-transform: uppercase;
}
@media (min-width: 769px) {
    .nav-list li a {
        color: black;
        font-family: "Roboto";
        font-size: 24px;
    }
}
.nav-list li a.active, .nav-list li a:hover {
    color: #8279e5;
    transition: 0.5s;
}
/* @media (min-width: 769px) {
    .nav-list li a.active, .nav-list li a:hover {
        color: black;
    }
} */
.hamburguer-btn {
    display: block;
    font-size: 30px;
    color: black;
    float: right;
    line-height: 75px;
    margin-right: 25px;
    cursor: pointer;
}
@media (min-width: 769px) {
    .hamburguer-btn {
        display: none;
    }
}
#check {
    display: none;
}
#check:checked ~ .nav-list {
    height: 100vh;
}
#check:checked ~ .nav-list li {
    opacity: 1;
}


/* ESTILOS DEL WELCOME */

.welcome {
    width: 100%;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 25px;
    gap: 20px;
    background-color: beige;
    /* position: relative; */
} 
@media (min-width: 769px) {
    .welcome {
        height: 530px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
    } 
}
.welcome__title-container {
    max-width: 315px;
    min-height: 100px;
    /* position: absolute;
    top: 55px; */
}
@media (min-width: 769px) {
    .welcome__title-container {
        min-height: 100px;
        max-width: 313px;
        position: absolute;
        top: 110px;
        left: 50px;
    }
}
.welcome__title {
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: black;
}
@media (min-width: 769px) {
    .welcome__title {
        text-align: center; 
    } 
}
.circle {
    width: 318px; /* Ancho del círculo */
    height: 318px; /* Alto del círculo */
    border-radius: 100%; /* Esto hace que sea circular */
    overflow: hidden; /*Oculta el exceso de la imagen */
    display: flex; /* Centra la imagen */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: white;
}
@media (min-width: 769px) {
    .circle {
        width: 415px; /* Ancho del círculo */
        height: 415px;
        border: none;
        border-radius: 0;
        overflow: visible;
        position: absolute;
        bottom: 0;
        right: 50px;
        background-color: beige;
    }  
}
.circle img {
    width: 318px; /* Ajusta la imagen al ancho del círculo */
    height: 318px; /* Mantiene la proporción de la imagen */
    display: flex; /* Centra la imagen */
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
}
@media (min-width: 769px) {
    .circle img {
        width: 415px;
        height: 415px;
    }
}

/* ESTILOS DEL ABOUT-ME */

.about-me {
    width: 100%;
    padding: 0 25px;
    height: 538px;
    background-color: #050a11;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
}
@media (min-width: 769px) {
    .about-me {
        flex-direction: row-reverse;
        align-items: center;
        gap: 0;  
    }
}
.about-me__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
@media (min-width: 769px) {
    .about-me__container {
        flex-direction: column;
        justify-content: center;
        align-items: start;      
        width: 50%;
    }
}
.about-me__title {
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 700;
    line-height: 43.58px;
    letter-spacing: -2px;
    text-align: center;   
    color: white;
}
@media (min-width: 769px) {
    .about-me__title {
        font-size: 32px;
        text-align: left;
    }
}
.about-me__parrafo {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    color: white;
} 
@media (min-width: 769px) {
    .about-me__parrafo {
        font-size: 24px;
    }
}
.about-me__logo-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.about-me__logo {
    width: 100px;
    height: 100px; 
}
@media (min-width: 769px) {
    .about-me__logo {
        width: 180px;
        height: 180px; 
    }
}

/* ESTILOS DE SERVICIOS */

.servicios {
    width: 100%;
    height: 1375px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 25px; 
    background-color: #fdf9e4;
}
@media (min-width: 769px) {
    .servicios {
        height: 604px;
    }
}
.servicios__title-container {
    max-width: 300px;
}
.servicios__title {
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 700;
    line-height: 43.58px;
    letter-spacing: -2px;
    text-align: center;
    color: #2C2C2C;
}
@media (min-width: 769px) {
    .servicios__title {
        font-size: 48px;  
    }
}
.servicios__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    
}
@media (min-width: 769px) {
    .servicios__container {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}
.servicios__uno,
.servicios__dos,
.servicios__tres {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 15px;
}
@media (min-width: 769px) {
    .servicios__uno,
    .servicios__dos,
    .servicios__tres {
    display: flex;
    justify-content: center;
}
}
.pc {
    width: 138px;
    height: 138px;
}
.servicios__subtitulo {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: center;
    color: #2C2C2C;
}
.servicios__parrafo {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
    color: #2C2C2C;
}

/* ESTILOS DEL FORMULARIO */

.form {
    width: 100%;
    height: 660px;
    display: flex;
    flex-direction: column;
    background-color: #0c0d0d;
    padding: 0 25px;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}
@media (min-width: 769px) {
    .form {
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 35px;
        padding: 30px 50px;
    }
}
.form__title-container {
    margin-top: 0;
}
@media (min-width: 769px) {
    .form__title-container {
        margin-top: 55px;
    }
}
.form__title {
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 700;
    line-height: 43.58px;
    letter-spacing: -2px;
    text-align: center;
    color: white;
}
@media (min-width: 769px) {
    .form__title {
        font-size: 48px;
    } 
} 
.form__container {
    width: 100%;
    height: 500px;
    display: grid;
    gap: 20px; 
}
@media (min-width: 769px) {
    .form__container {
        max-width: 450px;
        margin-top: 55px;
        gap: 20px;
    }
} 
.form__fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form__label-nombre,
.form__label-email,
.form__label-mensaje {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    line-height: 15.23px;
    display: block;
    color: white;
}
.form__input {
    font-family: "Roboto";
    background-color: #FFFFFF;
    border: none;
    border-radius: 0;
    font-size: 24px;
    display: block;
    width: 100%;
    padding: 10px;
}
.form__textarea {
    font-family: "Roboto";
    min-height: 200px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 0;
    font-size: 24px;
    display: block;
    width: 100%;
    padding: 10px;
}
.form__button {
    background-color: #FFD953;
    width: 100%;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 700;
    line-height: 18.75px;
    border: none; 
    padding: 20px;   
}

/* ESTILOS DEL FOOTER*/

.footer {
    width: 100%;
    height: 493px;
    background-color: #dbdbdb;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    
}
@media (min-width: 769px) {
    .footer {
        height: 346px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
    }
} 
.footer__logo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.footer_logo {
    width: 90px;
    height: 85px;
}
@media (min-width: 769px) {
    .footer_logo {
        width: 105px;
        height: 100px;
    }
} 
.footer_copyright {
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 400;
    line-height: 15.23px;
}
@media (min-width: 769px) {
    .footer_copyright {
        font-family: "Roboto";
        font-size: 15px;
        font-weight: 400;
        line-height: 16px;
    }
} 

.footer__redes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer__ig,
.footer__li,
.footer__gh {
    display: flex;
    align-items: center;
    margin: 5px;
}
.footer__redes-container img {
    width: 27px;
    height: 27px;
    margin: 5px;
}
@media (min-width: 769px) {
    .footer__redes-container img {
        width: 35px;
        height: 35px;
    }
} 
.footer__redes-container div p {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px; 
    margin: 5px;
}
@media (min-width: 769px) {
    .footer__redes-container div p {
        font-size: 17px;
        line-height: 19px; 
    }
} 

